
.BB{
    background: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9naW58ZW58MHx8MHx8&w=1000&q=80") no-repeat center center;
    width: 100%;
    background-size: 1740px;
    height: 90vh;
}
.AA{
   background-color: rgb(247, 229, 209);
}